body {
    background-color: #f4f4f4;
}

#about {
    margin-top: 75px;
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin-bottom: 25px;
    margin-top:
}


.about-item a h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item a p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.about-item:hover {
    background-color: #f4c613;
}

.about-item a:hover {
    color: white;
    text-decoration: none;
}

.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}



.navbar {
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    color: black;
    font-size: 25px;
}

.navbar-brand:hover {
    color: #f4c613;
}


ul.navbar-nav > li > a {
    color: #212226;
    font-size: 20px;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    color: #f4c613;
    font-weight: 500;
    background: none;
}

.navbar-header {
    position: relative;
}